{% extends "base.html" %}
{% block title %}Delete task{% endblock %}
{% block menu %}
    <li><a href="{% url 'webapp:task_update' task.pk %}">Edit</a></li>
    <li><a href="{% url 'webapp:task_delete' task.pk %}">Delete</a></li>
    <li><a href="{% url 'webapp:task_add' %}">Add Task</a></li>
{% endblock %}
{% block content %}
    <h1>{{ task.summary }}</h1>
        <p><b>Description: </b>{{ task.description }}</p>
        <p><b>Status: </b>{{ task.status }}</p>
        <p><b>Type: </b>{{ task.type }}</p>
        <p><b>Created at: </b>{{ task.created_at }}</p>
        <p><b>Project: </b>{{ task.project }}</p>
        <p>
            <a href="{% url 'webapp:index' %}" class="btn btn-default">Home</a>
        </p>

{% endblock %}

