{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'webapp:project_add' %}">Add project</a></li>
    <li><a href="{% url 'webapp:index' %}">Tasks</a></li>
{% endblock %}
{% block content %}
    <h1 class="mt-3">Projects</h1>
    {% include 'partial/simple_search.html' %}
    <hr>
        {% if is_paginated  %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <hr/>
    <div class="row">
        {% for project in projects %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'webapp:project_view' project.pk %}"><h2 class="card-text card-link">
                            {{ project.name }}
                        </h2></a>
                        <a href="{% url 'webapp:project_update' project.pk %}"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'webapp:project_delete' project.pk %}"><i class="fas fa-trash"></i></a>
                        <p class="card-text">{{ project.get_category_display }}</p>
                        <p class="card-text text-right"><b>Description: </b>{{ project.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
          {% if is_paginated  %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}